html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  overflow: hidden;
}
#menu {
  position: fixed;
  left: -20%;
  top: 0px;
  width: 20%;
  height: 100%;
  transition: left 0.25s ease-in-out 0s;
  background-color: rgba(255, 255, 0, 0.5);
  padding: 5px;
  box-sizing: border-box;
}
#menu.menu-open {
  left: 0px;
}
#menu-colors {
  display: flex;
  padding: 0;
  flex-direction: row;
  flex-wrap: wrap;
}
#menu-colors li {
  list-style-type: none;
  width: 3vw;
  height: 3vw;
  margin: 3px;
  cursor: pointer;
  border-radius: 3vw;
  transition: transform 0.25s cubic-bezier(.18,.89,1,1.7) 0s;
  text-align: center;
  line-height: 3vw;
}
#menu-colors li:hover {
  transform: scale(1.2);
}
#menu-colors .selected-palette:before {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "\F00C";
  text-shadow:
		-1px -1px white,
		1px -1px white,
		-1px 1px white,
		1px 1px white;
}
#menu-side-btn {
  position: absolute;
  left: 100%;
  top: 40%;
  height: 20%;
  padding: 0px 5px;
  margin: 0px;
  background-color: rgba(255, 255, 0, 0.5);
  border: medium none;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  width: 30px;
}
#menu-line-width {
  width: 100%;
  margin: 0px;
  padding: 0px;
  border: medium none;
}
#menu-line-width::-moz-range-thumb {
  padding: 5px 0;
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
#menu-line-width::-moz-range-thumb::before {
  content: "hoge";
  color: black;
}
#menu-thumbnails {
  overflow-y: scroll;
  height: 50%;
  padding: 0px;
  padding-right: 10px;
  margin: 15px;
}
#menu-thumbnails .thumbnail {
  width: 100%;
  height: 120px;
  margin: 20px 0px;
  background-color: white;
  border: solid 2px #000;
  border-radius: 20px;
  position: relative;
}
#menu-thumbnails .thumbnail-selected {
  border-color: cyan;
}
#menu-thumbnails .frame-add {
  width: 100%;
  height: 120px;
  line-height: 120px;
  border-radius: 20px;
  border-style: none;
  background-color: #6666ff;
  color: white;
  font-size: 2rem;
  text-align: center;
}
#menu-thumbnails .frame-delete {
  position: absolute;
  right: 0px;
  background-color: transparent;
  font-size: 2rem;
  color: #00F;
  cursor: pointer;
  border: none;
  padding: 0 5px 0 0;
}
#menu-thumbnails .frame-up {
  position: absolute;
  left: 10px;
  top: 0px;
  font-size: 2rem;
  border: none;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
}
#menu-thumbnails .frame-down {
  position: absolute;
  left: 10px;
  bottom: 0;
  font-size: 2rem;
  border: none;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
}

#btn-play {
  margin: 10px auto;
  display: block;
  width: 10vh;
  height: 10vh;
  border: 5px solid darkorange;
  background-color: beige;
  color: darkorange;
  border-radius: 3vh;
  font-size: 2rem;
}

