html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  overflow: hidden;
}
#menu {
  position: fixed;
  left: -20%;
  top: 0px;
  width: 20%;
  height: 100%;
  transition: left 0.25s ease-in-out 0s;
  background-color: rgba(255, 255, 0, 0.5);
  padding: 5px;
  box-sizing: border-box;
}
#menu.menu-open {
  left: 0px;
}
#menu-colors {
  display: flex;
  padding: 0;
  flex-direction: row;
  flex-wrap: wrap;
}
#menu-colors li {
  list-style-type: none;
  width: 3vw;
  height: 3vw;
  margin: 3px;
  cursor: pointer;
  border-radius: 3vw;
  transition: transform 0.25s cubic-bezier(.18,.89,1,1.7) 0s;
}
#menu-colors li:hover {
  transform: scale(1.2);
}
#btn-open-inspector {
  position: absolute;
  left: 100%;
  top: 40%;
  height: 20%;
  padding: 0px 5px;
  margin: 0px;
  background-color: rgba(255, 255, 0, 0.5);
  border: medium none;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
#btn-open-inspector.btn-open-inspector-hide {
  
}
#menu-line-width {
  width: 100%;
  margin: 0px;
  padding: 0px;
  border: medium none;
}
#menu-line-width::-moz-range-thumb {
  padding: 5px 0;
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
#menu-line-width::-moz-range-thumb::before {
  content: "hoge";
  color: black;
}
#menu-frame-fields {
  display: flex;
}
#menu-frame-fields button {
  flex: 1;
  display: block;
  border: medium none;
  background-color: orange;
  height: 50px;
}
#menu-frame-fields button:first-child {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
#menu-frame-fields button:last-child {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
#menu-frame-fields .btn-menu-frame-disable {
  background-color: #f0f0f0;
  cursor: not-allowed;
}
canvas {
  display: none;
}
.current-canvas {
  display: block;
}